/**{border: 1px solid;}*/
/**{padding: 2px;}*/
.hide-it{display: none;}
/* pages css */
body, #root{
	overflow-x: hidden;
}
.page{
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transition:left 0.5s ease;
    transition:left 0.5s ease;
}

.progress > .mdl-progress{
	margin: auto;
}

.progress span{
	width: 20px;
	margin: auto;
	display: block;
}

.vertical-align-center{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.slide-card-wide{
	margin: auto;
	width: 100%;
	max-width: 900px;
	height: 100%;
	max-height: 600px;
}

.slide-card-wide > .mdl-card__title {
	color: #fff;
	height: 100%;
	background: url('/assets/img/sunshine.jpg') center/cover;
}

.slide-card-wide > .mdl-card__menu {
	color: #fff;
}

.question{
	width: 100%;
	max-width: 900px;
	max-height: 600px;
	margin: auto;
	border-bottom: 1px solid;
}

.answers-list{
	height: 400px;
	border-right: 1px dashed;
	margin: 0;
	padding: 0;
}

.answers-list > div{
	position: relative;
}

.answers-list .object{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 20%;
}

.object{
	margin: auto;
	width: 100%;
	max-width: 150px;
	min-height: 50px;
}

.object .mdl-card__title{
	/*min-width: 150px;*/
	min-height: 100px;
}

.object .mdl-card__supporting-text{
	width: auto;
	text-align: center;
}

.object .mdl-card__actions{
	text-align: center;
}